name: subida-dockerhub
on: [push]
jobs:
  construccion-subida-del-contenedor:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.10-slim, 3.9-slim, 3.8-slim, '3.10', '3.9', '3.8']
    steps:
      - uses: actions/checkout@v2
      - name: Docker Login
        uses: docker/login-action@v1.10.0
        with:
          # Username used to log against the Docker registry
          username: jantoniovr
          # Password or personal access token used to log against the Docker registry
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - run: docker build --build-arg PYHTON_VERSION=${{ matrix.python-version }} -t jantoniovr/iv-2021-2022:${{ matrix.python-version }} .
      - run: docker push jantoniovr/iv-2021-2022:${{ matrix.python-version }}
  sincronizacion_readme_dockerhub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Dockerhub Readme
        uses: ms-jpq/sync-dockerhub-readme@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          readme: "./README.md"
          repository: jantoniovr/iv-2021-2022
      
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: docker run -t -v `pwd`:/app/test jantoniovr/iv-2021-2022
